<% include header %>
<div class="well">
	<h2>Welcome, Admin! <small>Remember to play nice</small></h2>
	<p>This is the administration area of the application. You will have access to other users entries. So that you can debug problems and help out users when needed. Do not abuse your powers.</p>
</div>
<% include footer %>