<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Index view</title>
</head>
<body>
  <h2>Welcome to the admin console</h2>
  <ul>
      <li><a href="/admin/events/">Events</a></li>
      <li><a href="/admin/users/">Users</a></li>
  </ul>
</body>
</html