<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Index view</title>
</head>
<body>
  <h2>Welcome to the admin console</h2>
  <nav>
      <a href="/admin/events/">Events</a>
      <a href="/admin/users/">Users</a>
  </nav>
</body>
</html>