<% include header %>
<table class="table">
	<thead>
		<tr>
			<% schema.forEach(function(item){ %>
				<th><%= item.title %></th>
			<% }) %>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% schema.forEach(function(item){ %>
				<td></td>
			<% }) %>
		</tr>
	</tbody>
</table>
<% include footer %>