<a href="#" class="btn btn-primary">New</a>
<hr />
<table class="table striped">
  <thead>
    <tr>
      <th>Name</th><th>Last Name</th><th></th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function(user){ %>
      <tr>
        <td><%= user.name %></td>
        <td><a class="btn" href="#/edit/<%= user.id %>">Edit</a></td>
      </tr>
    <% }); %>
</tbody>
</table>