<!doctype html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=100">
<meta name="viewport" content="width=device-width, initial-scale=1.0,
maximum-scale=1.0, user-scalable=no">
<meta name="HandheldFriendly" content="True">
<meta name="touch-event-mode" value="native">
<meta name="cursor-event-mode" value="native">
<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="address=no"/>
<link rel="stylesheet" href="http://api.maps.nokia.com/mobile/latest/lib/
mh5.css">
<link rel="stylesheet" href="http://api.maps.nokia.com/mobile/latest/lib/
colors.css">
<link rel="stylesheet" href="/stylesheets/maps.css">
<style>
html, body { 
	width: 100%; 
	height: 100%;
	margin: 0;
	padding: 0;
}
#app_location {
	width: 100%; 
	height: 100%; 
	position: relative;
}
</style>
</head>
<body class="mh5_hwacc_body">
<script src="http://api.maps.nokia.com/mobile/latest/lib/mh5.js"></script>
<div id="app_location"></div>
<script>
	var gamify = gamify || {};
	gamify.checkpoints = <%- JSON.stringify(checkpoints) %>;
</script>
<script src="/javascripts/maps/SplashPage.js"></script>
<script src="/javascripts/maps/LandingPage.js"></script>
<script src="/javascripts/maps/setup.js"></script>
</script>
</body>
</html>