<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title>Gamified</title>
	<link rel='stylesheet' href='/stylesheets/desktop.css' />
	<link rel='stylesheet' href='/stylesheets/notifier-base.css' />
	<link rel='stylesheet' href='/stylesheets/notifier-theme-plastic.css' />
	<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
</head>
<body id="index" class="home">
	
	<header id="banner">
		<div id="header-logo" href="desktop">
				<a href="desktop" id="logo-link">
					<img src="/images/gamified_logo_small.png" alt="Logo" id="logo">
				</a>
			</div>
		<div id="organizerName">&nbsp;</div>
		<nav>
			<li class="active"><a href="desktop">Home</a></li>
			<li><a href="desktop_create">Create Event</a></li>
			<li><a href="desktop_manage">Manage Events</a></li>
		</nav>
	</header>
	
	<div id="canLoginLoader" align="center"><h5>Logging into CAN</h5><img src="/images/ajax-loader.gif"></img></div>
	<section id="content" class="body">
	<div id="front-page-holder">
		<div id="demo"></div>
			<div id="welcome">
				<h2>Welcome to Gamified!</h2>
				<p>To take part in an event, visit <a href="http://fori.uni.me/mobile">gami.fi/ed</a> on your mobile device. Just enroll to an event and get going!</p>
				<h4>Creating your own event</h4>
				<p>
					As an event organizer, you can set up an orienteering track for event participants. Along the track, you can assign checkpoints, where participants may perform tasks that you have assigned. This allows for a fun and an interactive way for gathering images and videos from the event.
				</p>
				<p id="note">* Note that you should have already accepted the FIP CAN Facebook app in order for you to have the possibility to crowdsource submissions from your event.</p>
			</div>
		</div>
	
		
	</section>

	<footer id="contentinfo" class="body"></footer>
	<script src="/dependencies/jquery-1.7.2.min.js"></script>
	<script src="/dependencies/underscore-1.3.3.min.js"></script>
	<script src="/dependencies/backbone-0.9.2.js"></script>
	<script src="/dependencies/backbone.notifier.js"></script>
	<script src="//api.maps.nokia.com/2.2.3/jsl.js"></script>
	<script src="/javascripts/notifier.js"></script>
	<iframe name="canlogin" src="/organizer/login" style="display:none;"></iframe>

	<script>
		$(document).ready(function(){
			var timeOut = false;
			setInterval(function() {
				timeOut = true;
			},10000);
			$.getJSON("/api/v2/me", function(json) {
		 		$("#organizerName").text("Welcome " + json.name);
		 		$("#organizerName").hide().fadeIn('fast');
			});
			var loginAttemptsCounter = 0;
			var loginAttempt = function() { 
                                $.ajax({
                                        url: "https://devapi-fip.sp.f-secure.com:443/OneID/user/2_0_0/scim/v1/Users/current",
                                        headers: {"x-apikey": "l7xx4b2071526ae34e7fb2d33ff02bb82503"},
					xhrFields: { withCredentials: true },
                                        statusCode: {
                                                400: function() {
                                                        console.log("page not found");
                                                        loginAttemptsCounter++;
                                                        if(!timeOut){
                                                        	loginAttempt();	
                                                        }               
                                                        if(loginAttemptsCounter == 5000 || timeOut) {
                                                                $("#canLoginLoader>img").fadeOut('fast');
                                                                $("#canLoginLoader>h5").fadeOut('fast');
															displayNotifier("Login to CAN Failed","You must have already granted permissions to the FIP CAN Facebook app.")
                                                        }       
                                                },
                                                200: function() {
                                                        console.log("page found");
                                                        $("#canLoginLoader>img").fadeOut('fast');
                                                        $("#canLoginLoader>h5").text('Login to CAN was Successful');
							// Hide text after 5 seconds
							setTimeout(function() {
								$("#canLoginLoader>h5").fadeOut('fast');
     							}, 5000); 
                                                }
                                        }
                                });
			}
			loginAttempt();
		});
		function displayNotifier(title_msg, body_msg) {
		        <!-- Display info dialog -->
        		var notifier = new Backbone.Notifier({
        	        	theme: 'plastic',
		                type: 'info',
        	        	dialog: false,
                		modal: true,
		                position: 'center',
	        	        zIndex: 10000,
                		screenOpacity: 0.7,
	        	});
        		notifier.notify({
	                	title: title_msg,
	                	message: body_msg,
        		        hideOnClick: true,
        	        	fadeInMs: 800,
		                fadeOutMs: 800,
        	        	ms: 10000,
	        	});
		}

	</script>
</body>
</html>
