<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Pörinä Desktop Client</title>
	<link rel='stylesheet' href='/stylesheets/desktop.css' />
</head>
<body>
	<div id="desktop-header">
		<h1 id="desktop-title">Welcome to the Pörinä desktop client!</h1>

	</div>
</body>
</html>