<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Pörinä Desktop Client</title>
	<link rel='stylesheet' href='/stylesheets/desktop.css' />
	<script src="http://api.maps.nokia.com/2.2.3/jsl.js"></script>
</head>
<body>
		<header id="banner" class="body">
		<h1><a href="desktop">Pörinä Desktop Client</a></h1>
		<nav><ul>
			<li><a href="desktop">Home</a></li>
			<li class="active"><a href="desktop_create">Create Event</a></li>
			<li><a href="#">Manage Events</a></li>
		</ul></nav>
	</header>

	<section id="content" class="columns">
		
			<p>
				<form action="#" method="">
					<div data-role="fieldcontain">
						<input type="text" name="event_name" size="30" placeholder="Event Name" style="font-size: 20px" required><br />
						<input type="date" name="date" id="date" style="font-size: 18px" value="" required><br />
						<input type="button" id="addOption" value="New Checkpoint" class="button"/><br /><br /><br />
						<input type="submit" value="Save Event" class="button"/>						
					</div>
				</form>
			</p>
		
	</section>
	
</body>
</html>