<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Pörinä Desktop Client</title>
	<link rel='stylesheet' href='/stylesheets/desktop.css' />
	<script src="http://api.maps.nokia.com/2.2.3/jsl.js"></script>
	<!-- For now commenting this to include a full jquery lib
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
	-->
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    	<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
	<!-- Time Picker Widget -->
	<script src="/javascripts/timepicker.js"></script>
</head>
<body>
		<header id="banner" class="body">
		<h1><a href="desktop">Pörinä Desktop Client</a></h1>
		<nav><ul>
			<li><a href="desktop">Home</a></li>
			<li class="active"><a href="desktop_create">Create Event</a></li>
			<li><a href="#">Manage Events</a></li>
		</ul></nav>
	</header>

	<section id="content" class="columns">
		
			<p>
				<form id="event_form" action="">
						<input type="text" id="title" size="30" placeholder="Event Name" style="font-size: 20px; padding: 10px" required><br />
						<input type="text" id="starttime" style="font-size: 18px; width: 48%; padding: 5px" value="" placeholder="Start Time "required>
						<input type="text" id="endtime" style="font-size: 18px; width: 48%; padding: 5px" placeholder="End Time" value="" required>
						<br />Ordered checkpoints <input type="checkbox" id="ordered"><br />
				</form>
				<div id ="checkpoint_holder">
						<input type="button" id="addOption" value="New Checkpoint" class="button"><br /><br />
						<input type="button" id="submit" value="Save Event" class="button">
				</div>
			</p>
		
	</section>
	<script>
		var i = 0;

		$(document).ready(function(){
			$("#starttime").datetimepicker();
			$("#endtime").datetimepicker();
			$( "#checkpoint_holder" ).sortable({
        			items: '.sortable'
       			});
		});
		$('#addOption').click(function (){
			if(i > 0){
				var temp = '#checkpoint_'+i+'';
				console.log(temp);
				$.post('http://localhost:3000/api/v1/test/',$(temp).serializeArray(),console.log);
			}
			$('<div class="drag-container sortable"><div class="top"><span></span></div><div class="center-content"></div><div class="bottom"><span></span></div> </div>').insertBefore('#addOption');
			$(".center-content").last().append('<form id="checkpoint"></form>');
			i++;
			$('#checkpoint').append('<img src="images/trash.jpg" class="trash" onclick=removeMe(this) style="float:right; margin:0 5px 0 0; height: auto; width: 20px;"><img src="images/save.png" class="save" onclick=saveMe(this) style="float:right; margin:0 5px 0 0; height: auto; width: 24px;"><h2>Checkpoint ' + i + '</h2>');
			$('#checkpoint').append('<input type="text" id="title" placeholder="Title" required>');
			$('#checkpoint').append('<input type="text" id="altitude" placeholder="Altitude" required>');
			$('#checkpoint').append('<input type="text" id="latitude" placeholder="Latitude" required>');
			$('#checkpoint').append('<input type="text" id="longitude" placeholder="Longitude" required>');
			$('#checkpoint').append('<input type="text" id="taskURL" placeholder="Task URL" required>');
			$('#checkpoint').attr("id","checkpoint_" + i);
			$('.drag-container').last().draggable({ axis: "y", containment: "parent", scroll: false , snap: "true", snapMode: "outer" });

		});

		function saveMe(floppy) {
			console.log($(floppy).serializeArray());
			$.post("http://localhost:3000/api/v1/test/",$(floppy).serializeArray(),console.log);
		};
	
		function removeMe(dustbin){
			$(dustbin).parent().parent().parent().slideUp();
			<!-- $(dustbin).parent().parent().parent().remove(); -->
		};

	</script>

	
</body>
</html>
