<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Pörinä Desktop Client</title>
	<link rel='stylesheet' href='/stylesheets/desktop.css' />
	<script src="http://api.maps.nokia.com/2.2.3/jsl.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
</head>
<body>
		<header id="banner" class="body">
		<h1><a href="desktop">Pörinä Desktop Client</a></h1>
		<nav><ul>
			<li><a href="desktop">Home</a></li>
			<li class="active"><a href="desktop_create">Create Event</a></li>
			<li><a href="#">Manage Events</a></li>
		</ul></nav>
	</header>

	<section id="content" class="columns">
		
			<p>
				<form id="event_form" action="">
						<input type="text" id="title" size="30" placeholder="Event Name" style="font-size: 20px" required><br />
						<input type="datetime" name="date" id="date" style="font-size: 18px" value="" required><br />
						Ordered checkpoints <input type="checkbox" id="ordered"><br />
				</form>
				<div id ="checkpoint_holder">
						<input type="button" id="addOption" value="New Checkpoint" class="button"><br /><br /><br />
						<input type="button" id="submit" value="Save Event" class="button">
				</div>
			</p>
		
	</section>
	<script>
		var i = 0;

		$('#addOption').click(function (){
			if(i > 0){
				var temp = '#checkpoint_'+i+'';
				console.log(temp);
				$.post('http://localhost:3000/api/v1/test/',$(temp).serializeArray(),console.log);
			}
			$('<form id="checkpoint"></form>').insertBefore('#addOption');
			i++;
			$('#checkpoint').append('<h2>Checkpoint ' + i + '</h2>');
			$('#checkpoint').append('<input type="text" id="title" placeholder="Title" required>');
			$('#checkpoint').append('<input type="text" id="altitude" placeholder="Altitude" required>');
			$('#checkpoint').append('<input type="text" id="latitude" placeholder="Latitude" required>');
			$('#checkpoint').append('<input type="text" id="longitude" placeholder="Longitude" required>');
			$('#checkpoint').append('<input type="text" id="taskURL" placeholder="Task URL" required>');
			$('#checkpoint').attr("id","checkpoint_" + i);

		});

		$('#submit').click(function() {
			console.log($('#event_form').serializeArray());
			$.post("http://localhost:3000/api/v1/test/",$('#event_form').serializeArray(),console.log);
		});

	</script>

	
</body>
</html>