<!DOCTYPE html>
<!-- using ejs template -->
<html>
<head>
	<meta charset=UTF-8">
	<title>Pörinä Desktop Client</title>
	<link rel='stylesheet' href='/stylesheets/desktop.css' />
</head>
<body>
	<div id="desktop-header">
		<h1 id="desktop-title">Welcome to the Pörinä desktop client!</h1>
	</div>
</body>
</html>