<!DOCTYPE html>
<html>
<head>
	<meta charset="urf-8" />
	<title>Edit this <%= type %> | Freshman orienteering</title>
	<link rel="stylesheet" href="/stylesheets/forms.css" />
</head>
<body>
	<h1>Edit this <%= type %></h1>
	<form>
		<% for(var i=0; i<items.length; i++) {%>
   			<label><%= items[i].key %><input type="text" value="<%= items[i].value %>" /></label>
		<% } %>
		<div id="buttons">
			<button type="submit" id="submit">Submit</button>
			<button type="reset" id="reset">Reset</button>
			<button type="button" id="delete">Delete</button>
		</div>
	</form>
</body>
</html>