<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel='stylesheet' href='/stylesheets/mobile.css'/>
</head>
<body>
	<h1><%= title %></h1>
    <div>
    <div id="profileWrap">
            <div id="profile"></div>
        </div>

        <div id="houseWrap">
            <div id="house"></div>
        </div>
    </div>
	<p>Currently logged in user is: 
		<span>
			<% if(user && user.name) { %>
			 user has a name, the name is: 
				<%= user.name %>
			<% } else { %>
				no user found.
			<% } %>
		</span>
	</p>
	<ul>
	<% for (idx in events) { %>
		<li><%= events[idx].title %></li>
	<%}%> 
	</ul>
</body>
</html>