<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script data-main="/javascripts/can.helper.min.js" src="/dependencies/libs/require-jquery.js"></script>
<title></title>
</head>
<body>
	<h1>Event: <%= evt.title %></h1>
	<label>Enrolled:
		<input type="checkbox" <% if (enrolled) { %>checked<% } %> />
	</label>
	<p><a href="/events/<%= evt._id %>/checkpoints">Go to Map</a></p>
	<p><a href="/events/">&lt; Back</a></p>
	<input type="file" accepts="audio/*" />
	<script type="text/javascript">
		var input = document.querySelector('input[type=file]');
		input.onchange = function () {
  			var file = input.files[0];
  			console.log(file.name);
  			var path = "devices/Web" + file.name;
  			uploadFile("80ae70d7-3e00-289c-2979-0b371f5e05c9",path,file);
  		}
	</script>
</body>
</html>