

<section id="listContent" style = 'display:none;'>
       <nav id="contentList">
        <ul>
          <% for(var i = 0; i<content.length; i++) {%>
            <li><a href="/"><%= content[i].title%></a></li>      
          <% } %>
        </ul>
      </nav>
 </section>