<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Organizer login</title>
</head>
<body>
  <script data-main="/javascripts/login.organizer.js" 
  	src="/dependencies/libs/require-jquery.js"></script>
</body>
</html>
