<!DOCTYPE html>
<html>
<head>
	<meta charset="urf-8" />
	<title>Info about this <%= type %> | Freshman orienteering</title>
	<link rel="stylesheet" href="/stylesheets/forms.css" />
</head>
<body>
	<h1>Info about this <%= type %></h1>
		<% for(var i=0; i<items.length; i++) {%>
			<p><%= items[i].key %><span><%= items[i].value %></span></p>
		<% } %>
</body>
</html>