<section id="content">
       <% if (content && content.status == "login") {%>  
            	<p><%= content.response.name %></p>
            	<div id="map-button-wrapper">
			      <a class="wide-btn" href="mobile">Continue</a>
			      <a id="signout" class="wide-btn" href="#">Log out</a>
			    </div>
        <%} else{ %>   
       			<div id="map-button-wrapper">
			      <a id="signin" class="wide-btn" href="#">Sign in</a>
			    </div>
       	<%}%>
 </section>