<% if (content && content.length != 0) {%>
    <% if (content.type == "Event") {%>
        <p class="subHeader2">Events</p>
        <ul id="statusEvent">
            <li>Event Name: <%= content.title %></li>
            <li>Description:
                <section id="descriptionWrap">
                    <% if (content.description.length > content.shortDescriptionLength ) {%>
                        <%= content.description.substring(0,content.shortDescriptionLength) %>
                    <%} else {%>
                        <%= content.description %>
                    <%}%>
                    <span id="showMore"><%= content.nextAction %></span>
                </section>
            </li>
        </ul>
    <% }%>
<%} else {%>
    <p class="subHeader2">Sorry, could not found the event.</p>
<%}%>