<section id="content" class="listbox">
<span id="refresh"></span><span id="contentListClose" class="delete">X</span>
	<nav id="contentNav">
	<p class="subHeader">Status</p>
	<section id="startedEventWrap" class="statusWrap"></section>
	<section id="startedCheckpointWrap" class="statusWrap"></section>
	<section id="startedTaskWrap" class="statusWrap"></section>
	<section id="enrolmentWrap" class="statusWrap"></section>
    </nav>
</section>