<section id="content" class="listbox">
<span id="refresh"></span><span id="contentListClose" class="delete">X</span>
	<nav id="contentNav">
	<p class="subHeader">Status</p>
	<section id="activatedEventWrap"></section>
	<section id="activatedCheckpoitWrap"></section>
	<section id="activatedtaskWrap"></section>
	<section id="enrolmentWrap"></section>
    </nav>
</section>