<section id="content" class="listbox">
<span id="refresh"></span><span id="contentListClose" class="delete">X</span>
	<nav id="contentNav">
	<p class="subHeader">Status</p>
	<section id="startedEventWrap"></section>
	<section id="startedCheckpoitWrap"></section>
	<section id="startedTaskWrap"></section>
	<section id="enrolmentWrap"></section>
    </nav>
</section>