<section id="taskContent" class="listbox">
		<span id="taskListClose" class="delete">X</span>
		<h2><%= content.title%> </h2>
		<p><%= content.description%><span id="expand" class="delete">V</span></p>
		<div id="expandWrap"></div>
</section>