body {
  background: #f5f4ef;
  color: #000305;
  font-size: 87.5%;
  font-family: 'Arvo', serif;
  line-height: 1.429;
  margin: 0;
  padding: 0;
  text-align: left;
}
.body {
  clear: both;
  margin: 0 auto;
  width: 800px;
}
.button {
  background-color: #000;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  padding: 6px 20px;
  text-decoration: none;
  outline: none;
  border-width: 0px;
  font-size: 16px;
  font-family: 'Arvo', serif;
}
.button:hover {
  background-color: #1b7ae0;
}
input {
  font-family: 'Arvo', serif;
}
#event_form {
  float: left;
  width: 450px;
}
#mapArea {
  height: 400px;
  width: 500px;
  float: right;
}
#content {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
#mapArea2 {
  height: 390px;
  width: 390px;
  border: 0px solid #eaeaea;
}
#checkpoint_holder {
  width: 1000px;
  padding: 20px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}
#banner {
  margin: 0 auto;
  text-align: center;
}
#banner h1 {
  font-size: 3.571em;
  line-height: 0.6;
  padding: 20px;
}
#banner h1 a:link,
#banner h1 a:visited {
  color: #000305;
  font-weight: bold;
  text-decoration: none;
}
#banner h1 a:hover,
#banner h1 a:active {
  background: none;
  color: #1b7ae0;
  text-shadow: none;
}
#banner nav {
  background: #000305;
  font-size: 1.143em;
  height: 40px;
  line-height: 30px;
  margin: 0 auto 2em auto;
  display: inline-block;
  border-radius: 5px;
}
#banner nav li {
  float: left;
  display: inline-block;
}
#banner nav a:link,
#banner nav a:visited {
  color: #fff;
  display: inline-block;
  height: 30px;
  padding: 5px 1.5em;
  text-decoration: none;
}
#banner nav a:hover,
#banner nav a:active,
#banner nav .active a:link,
#banner nav .active a:visited {
  background: #1b7ae0;
  color: #fff;
  text-shadow: none !important;
}
#banner nav li:first-child a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#banner nav li:last-child a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
h2 {
  font-size: 1.571em;
}
h3 {
  font-size: 1.429em;
}
h4 {
  font-size: 1.286em;
}
h5 {
  font-size: 1.143em;
}
h6 {
  font-size: 1em;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0.8em;
}
a {
  outline: 0;
}
a img {
  border: 0px;
  text-decoration: none;
}
a:link,
a:visited {
  color: #1b7ae0;
  padding: 0 1px;
  text-decoration: underline;
}
a:hover,
a:active {
  background-color: #1b7ae0;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #333;
}
p {
  margin-bottom: 1.143em;
}
* p:last-child {
  margin-bottom: 0;
}
thead th {
  padding: 0.5em 0.4em;
  text-align: left;
}
thead td,
tbody td {
  padding: 0.5em 0.4em;
}
.drag-container {
  width: 100%;
  margin: 0px auto;
  background: #fff url("../images/leftside.gif") repeat-y left top;
  float: top;
}
.top {
  width: 100%;
  height: 20px;
  background: url("../images/top.gif") no-repeat left top;
}
.top span {
  display: block;
  position: relative;
  height: 20px;
  background: url("../images/top-right.gif") no-repeat right top;
}
.center-content {
  position: relative;
  background: url("../images/rightside.gif") repeat-y right top;
  padding: 1px 20px 1px 25px;
}
.bottom {
  height: 60px;
  background: url("../images/bottom.gif") no-repeat left bottom;
}
.bottom span {
  display: block;
  position: relative;
  height: 60px;
  background: url("../images/bottom-right.gif") no-repeat right top;
}
.onoffswitch {
  position: relative;
  width: 198px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid;
  border-radius: 5px;
}
.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 12px;
  color: #fff;
  font-family: 'Arvo', serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Ordered Checkpoints";
  padding-left: 15px;
  background-color: #1b7ae0;
  color: #fff;
}
.onoffswitch-inner:after {
  content: "Unordered Checkpoints";
  padding-right: 5px;
  background-color: #1a0000;
  color: #fff;
  text-align: right;
}
.onoffswitch-switch {
  width: 18px;
  margin: 0px;
  background: #fff;
  border: 2px solid;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 176px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
