body
    background: #fbfaf7
    background-image: url('../images/bg_desktop.png')
    color: #000305
    font-size: 87.5%
    font-family: 'Arvo', serif
    line-height: 1.429
    margin: 0
    padding: 0
    text-align: left

.body
    clear: both
    margin: 0 auto
    width: 800px

.button
    background-color: #000000
    border-radius: 5px
    color: #ffffff
    padding: 6px 20px
    text-decoration: none
    outline: none
    border-width: 0px
    font-size: 14px
    font-family: 'Arvo', serif
    -webkit-transition: background-color 200ms linear
    -moz-transition: background-color 200ms linear
    -o-transition: background-color 200ms linear
    -ms-transition: background-color 200ms linear
    transition: background-color 200ms linear

.button:hover 
    background-color: #1b7ae0
input, textarea, select
    font-family: 'Arvo', serif
    border-radius: 5px
    -moz-border-radius: 5px
    -khtml-border-radius: 5px
    -webkit-border-radius: 5px
    border: 3px
    border-style: solid
    border-color: #eaeaea
    resize: none

.CHPformfield
    font-size: 110%
    margin-right: 20px

.wide
    width: 100%

#submitEvent
    font-size: 150%
    width: 44%
    margin: 0 auto
    float: left

#submitCheckpoints
    font-size: 150%
    width: 44%
    float: right
    visibility: hidden

#event_form
    float: left
    width: 450px

#mapArea
    border-radius: 7px
    -moz-border-radius: 7px
    -khtml-border-radius: 7px
    -webkit-border-radius: 7px
    height: 400px
    width: 500px
    float: right
    border: 4px
    border-style: solid
    border-color: #eaeaea

#content
    min-width:800px
    max-width: 1000px
    margin-left: auto
    margin-right: auto
    padding: 20px
    position:relative
    z-index:1

#content-create
    width:1000px
    margin-left: auto
    margin-right: auto
    padding: 20px
    position:relative
    z-index:1

#checkpoint_holder
    width: 1000px
    padding: 20px
    clear: both
    margin-left: auto
    margin-right: auto

#banner
    margin: 0 auto
    margin-bottom:40px
    text-align: center
    height:contain
    width:100%
    background-color:white
    box-shadow: 5px 5px 7px #A8A8A8
    padding-top:15px
    padding-bottom:-15px

#banner h1
    font-size: 3.571em
    line-height: .6
    padding-top: 20px

#banner h1 a:link, #banner h1 a:visited
    color: #000305
    font-weight: bold
    text-decoration: none
    -webkit-transition: background-color 200ms linear
    -moz-transition: background-color 200ms linear
    -o-transition: background-color 200ms linear
    -ms-transition: background-color 200ms linear
    transition: background-color 200ms linear

#banner h1 a:hover, #banner h1 a:active
    background: none
    color: #1B7AE0
    text-shadow: none

#banner nav
    background: #000305
    font-size: 150%
    height: 40px
    line-height: 30px
    margin: 0 auto
    display: inline-block
    border-radius: 5px

#banner nav li
    float: left
    display: inline-block
    width:200px

#banner nav a:link, #banner nav a:visited
    color: #fff
    width:200px
    display: inline-block
    height: 30px
    padding-top: 5px
    padding-bottom: 5px
    text-decoration: none
    border-radius:0
    -webkit-transition: background-color 200ms linear
    -moz-transition: background-color 200ms linear
    -o-transition: background-color 200ms linear
    -ms-transition: background-color 200ms linear
    transition: background-color 200ms linear

#banner nav a:hover, #banner nav a:active, #banner nav .active a:link, #banner nav .active a:visited
    background: #1B7AE0
    color: #fff
    text-shadow:none

#banner nav li:first-child a
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px

#banner nav li:last-child a
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
h2
    font-size: 1.571em
h3 
    font-size: 1.429em
h4 
    font-size: 1.286em
h5 
    font-size: 1.143em
h6 
    font-size: 1em
h2, h3, h4, h5, h6
    font-weight: 400
    line-height: 1.1
    margin-bottom: .8em

footer
    text-align: center
    font-size:120%

a
    outline: 0   
    -webkit-transition: background-color 200ms linear
    -moz-transition: background-color 200ms linear
    -o-transition: background-color 200ms linear
    -ms-transition: background-color 200ms linear
    transition: background-color 200ms linear
    border-radius:3px
    padding:2px

a img
    border:0px
    text-decoration:none
    background-color:none

a:link, a:visited
    color: #1B7AE0
    padding: 0 1px
    text-decoration: none

a:hover
    background-color: #1B7AE0
    color: #fff
    text-decoration: none

p
    margin-bottom: 1.143em
* p:last-child
    margin-bottom: 0

thead th
    padding: .5em .4em
    text-align: left

thead td

tbody td
    padding: .5em .4em

.centertext
    margin: 0 auto
    text-align: center

.drag-container
    width:100%
    margin:0px auto
    float:top
    margin:10px

.center-content
    position:relative
    background-color: white
    padding:1px 30px 30px 30px
    border-radius:10px
    box-shadow: 1px 1px 7px #A8A8A8

.eventListContainer
    //clear: both
    height:50px
    width:100%
    margin: 10px
    background-color: white
    border-radius: 10px
    box-shadow: 1px 1px 7px #A8A8A8
    //overflow: auto
    clear:both

.eventNameTag
    margin: 10px
    float:left
    display: inline
    vertical-align:middle

#eventDetailsHolder, #submissionsHolder
    width:auto
    background-color: white
    border-radius: 10px
    box-shadow: 1px 1px 7px #A8A8A8
    padding:20px
    height:auto

#eventDetailsHolder #title
    font-size:350%
    font-weight:bold

#eventDetailsHolder #deleteButton:hover
    background-color:tomato
    
#eventDetailsHolder #deleteButton
    margin-top: 30px
    background-color:firebrick
    -webkit-transition: background-color 200ms linear
    -moz-transition: background-color 200ms linear
    -o-transition: background-color 200ms linear
    -ms-transition: background-color 200ms linear
    transition: background-color 200ms linear

#detailsButton, #submissionsButton
    margin: 10px
    float:right
    display: inline
    //vertical-align:middle

.propertyEditLink
    font-size:80%

.propertyHeader
    display:inline
    margin-right:5px

#ajaxLoader
    margin-right: auto
    margin-left: auto
    width:66px
    left: 48%
    position:absolute
    z-index:2

.onoffswitch 
    position: relative 
    width: 198px
    -webkit-user-select:none 
    -moz-user-select:none 
    -ms-user-select: none

.onoffswitch-checkbox 
    display: none

.onoffswitch-label 
    display: block 
    overflow: hidden 
    cursor: pointer
    border: 2px solid  
    border-radius: 5px

.onoffswitch-inner 
    width: 200% 
    margin-left: -100%
    -moz-transition: margin 0.3s ease-in 0s 
    -webkit-transition: margin 0.3s ease-in 0s
    -o-transition: margin 0.3s ease-in 0s 
    transition: margin 0.3s ease-in 0s

.onoffswitch-inner:before, .onoffswitch-inner:after 
    float: left 
    width: 50% 
    height: 25px 
    padding: 0 
    line-height: 25px
    font-size: 14px 
    color: white 
    font-family: 'Arvo', serif
    -moz-box-sizing: border-box 
    -webkit-box-sizing: border-box 
    box-sizing: border-box

.onoffswitch-inner:before 
    content: "Ordered Checkpoints"
    padding-left: 15px
    background-color: #1B7AE0 
    color: #FFFFFF

.onoffswitch-inner:after 
    content: "Unordered Checkpoints"
    padding-right: 5px
    background-color: #1A0000 
    color: #FFFFFF
    text-align: right

.onoffswitch-switch 
    width: 18px 
    margin: 0px
    background: #FFFFFF
    border: 2px solid  
    border-radius: 5px
    position: absolute 
    top: 0 
    bottom: 0 
    right: 176px
    -moz-transition: all 0.3s ease-in 0s 
    -webkit-transition: all 0.3s ease-in 0s
    -o-transition: all 0.3s ease-in 0s 
    transition: all 0.3s ease-in 0s 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%)
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%)
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%)
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%)

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner 
    margin-left: 0

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch 
    right: 0px 

#hidden
    display:none

#demo
    height:600px
    width:350px
    background:url('../images/device.png') no-repeat center center
    background-size:contain
    display:inline-block
    vertical-align:middle

#front-page-holder
    margin-top:-4em

#welcome
    font-size:120%
    width:440px
    vertical-align:middle
    display:inline-block

#welcome h2
    font-size: 200%

#note
    font-size:90%
    margin-top:2em

#header-logo
  width:auto
  height:auto
  margin:15px

#logo
    width:500px
    height:auto

#logo-link
    text-decoration: none
    border: 0 none
    background-color: transparent
    transition:none