html
	margin: 0
	padding: 0
body
	margin: 0
	padding: 0
	background-color: #F5F4EF
	color: #000305
	font-size: 87.5%
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
	line-height: 1.429
form
	width: 300px
label
	display: block
	text-align: right
input[type="text"]
	width: 200px
#buttons
	text-align: right