html,
body {
    font-size: 10px;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.gamify_LandingPage ~ .mh5_SettingsDialog {
    top: 10.8rem;
}

.gamify_header {
    overflow: hidden;
    position: relative;
    color: white;
    margin: 0;
    height: 5rem;
    background: url(/images/gamified_logo_175x40.png) no-repeat 0.5rem center;
    background-color: #13549A;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 100;
}

.gamify_footer {
    overflow: hidden;
    position: relative;
    color: white;
    margin: 0;
    height: 5rem;
    background-color: #13549A;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 100;
}


/** Splash Page **/
.gamify_SplashPage {
    background-color: #13549A;
}

.gamify_SplashPage .gamify_biglogo {
    display: block;
    height: 8.6rem;
    width: 18.4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15.3rem;
    clear: both;
    background: url(/images/gamified_logo_175x40.png) no-repeat center center;
}

.gamify_SplashPage .gamify_spinner {
    display: block;
    height: 3.2rem;
    width: 3.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.3rem;
    clear: both;
    background-image: url(/images/maps/img/spinner_32.png);
}

/** Landing Page **/

.gamify_LandingPage.mh5_Page {
    background-color: #FFFFFF;
}


.gamify_LandingPage .mh5_PlaceSummary,
.gamify_LandingPage .mh5_PlaceSummary .details {
    padding-top: 0;
}


.gamify_LandingPage .mh5_Search {
    padding: 1rem 1rem 1rem 0;
}

.gamify_LandingPage .mh5_Map {
    height: auto;
}

.gamify_LandingPage .gamify_backBtn {
    width: 10rem;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    color: #13549A;
}

.gamify_LandingPage .gamify_checkinBtn {
    width: 10rem;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #13549A;
}
.mh5_Button.mh5_textButton:before{ background-image: url('/images/maps/img/button_long2_light.png'); }
.mh5_Button.mh5_textButton:after{ background-image: url('/images/maps/img/button_long2_light.png'); }
.mh5_Button.mh5_textButton:not(.mh5_disabled).mh5_active:before,.mh5_Button.mh5_textButton:not(.mh5_disabled):active:before{background-image:url('/images/maps/img/button_long2_light_active.png');}
.mh5_Button.mh5_textButton:not(.mh5_disabled).mh5_active .mh5_ButtonText,.mh5_Button.mh5_textButton:not(.mh5_disabled):active .mh5_ButtonText{background-image:url('/images/maps/img/button_long2_light_active.png');}
.mh5_Button.mh5_textButton:not(.mh5_disabled).mh5_active:after,.mh5_Button.mh5_textButton:not(.mh5_disabled):active:after{background-image:url('/images/maps/img/button_long2_light_active.png');}
.mh5_Button.mh5_textButton .mh5_ButtonText{ background-image: url('/images/maps/img/button_long2_light.png');}

.mh5_Notification {
	border-bottom-color: #13549A;
}

.mh5_Notification .mh5_NotificationText {
	background-color: #fff;
	color: #13549A;
	font-weight: bold; 
}