/*Display settings for mobile and tablet
  Dont know how to work with these just yet
 */
/* Font definitions */
/* global colors */
/*Global measures */
/* Style functions, not working, seems handy */
/*Good demo about -webkit-font-smothing
http://maxvoltar.com/sandbox/fontsmoothing/
*/
html {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #424242;
  background-color: #eee;
  font-family: "AvantGardeGothicITCW01B 731063", "Helvetica Neue", Arial, sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
/*color:navFontHoverColor;*/
  background: #eee;
  text-decoration: none;
}
/* originally ui.css from http://iqonicdesign.com/ui/
 This code is free. */
a.tagbtn3 {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  background-image: -webkit-linear-gradient(#2da1ec, #0191d9);
  background-image: -moz-linear-gradient(#2da1ec, #0191d9);
  background-image: -ms-linear-gradient(#2da1ec, #0191d9);
  background-image: linear-gradient(#2da1ec, #0191d9);
  border: 1px solid #0191d9;
}
a.tagbtn3:hover {
  background-image: -webkit-linear-gradient(#2eacff, #0191d9);
  background-image: -moz-linear-gradient(#2eacff, #0191d9);
  background-image: -ms-linear-gradient(#2eacff, #0191d9);
  background-image: linear-gradient(#2eacff, #0191d9);
}
a.tagbtn3:active {
  top: 1px;
}
/* end of ui.css*/
ul {
  list-style: none;
}
#mapArea {
  height: 100%;
  margin: 0 auto;
  z-index: 1;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;
  color: #003;
  text-rendering: optimizelegibility;
}
/*http://css-tricks.com/snippets/css/clear-fix/
  Not on top of this one...
#header header:before,#header header:after{
  display:table;
  content:"";
  line-height:0
}

#header header:after{
  clear:both
}
*/
/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
#contentWrap,
#taskWrap {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 100;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}
#content {
  height: 590px;
  overflow: auto;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  overflow: auto;
  top: 10px;
}
.listbox {
  background: #fff;
  *zoom: 1;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}
#taskWrap {
  padding-right: 10px;
  padding-left: 10px;
  z-index: 99;
}
#taskContent {
  margin-right: auto;
  width: 300px;
  text-align: center;
}
#header header:before,
#header header:after {
  display: table;
  content: "";
  line-height: 0;
}
#header header:after {
  clear: both;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#header header {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  min-height: 50px;
  background: #fff;
  *zoom: 1;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}
#header header h1 {
  display: block;
  float: left;
  width: 150px;
  margin: 0;
  min-height: 50px;
  border-right: 1px solid #f4f4f4;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0;
}
#header header #control:before,
#header header #control:after {
  display: table;
  content: "";
  line-height: 0;
}
#header header #control:after {
  clear: both;
}
#header header #control {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 14px;
}
#contentNav ul:before,
#contentNav ul::after {
  display: table;
  content: "";
  line-height: 0;
}
#contentNav ul:after {
  clear: both;
}
#contentNav ul li {
  line-height: 30px;
}
#contentNav a {
  text-decoration: none;
}
#contentNav h2 {
  padding-top: 5px;
}
#contentNav .listSmall {
  font-size: 13px;
  line-height: 20px;
  margin-left: 20px;
}
#control ul {
  margin: 0;
  padding: 0 0 0 9px;
  line-height: 50px;
  *zoom: 1;
}
#control ul li {
  height: 50px;
  display: block;
  float: left;
  margin: 0 0 0 10px;
}
#control ul li a {
  text-decoration: none;
}
#footer footer #control {
  position: absolute;
  bottom: 0px;
  right: 20px;
  margin: 0, auto;
  font-size: 17px;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#footer footer {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  min-height: 50px;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}
#footer footer h1 {
  display: block;
  border-right: 1px solid #f4f4f4;
  float: left;
  width: 100px;
  margin: 0;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0;
}
.distanceMeter {
  line-height: 50px;
  padding-left: 10px;
}
/* upper right corner, delete button */
span.delete {
  color: #09f;
  position: relative;
  padding: 2px;
  float: right;
  cursor: pointer;
  margin-top: 3px;
  margin-right: 3px;
  border-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  z-index: 100;
}
span.expand {
  margin-top: 0px;
}
span.delete:hover {
  background: #000;
  z-index: 100;
}
/* upper right corner, refresh button */
#refresh {
  position: relative;
  float: right;
  width: 0;
  height: 0;
  cursor: pointer;
  border-top: 8px solid transparent;
  border-right: 8px solid #09f;
  -webkit-transform: rotate(0deg) translate(-29px, 7px) scale(0.7);
  -moz-transform: rotate(0deg) translate(-29px, 7px) scale(0.7);
  -ms-transform: rotate(0deg) translate(-29px, 7px) scale(0.7);
  -o-transform: rotate(0deg) translate(-29px, 7px) scale(0.7);
}
#refresh:after {
  content: "";
  position: absolute;
  border: 3px solid transparent;
  border-top: 3px solid #09f;
  border-right: 3px solid #09f;
  border-left: 3px solid #09f;
  border-radius: 50px;
  top: -9px;
  left: -11px;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(-65deg);
  -moz-transform: rotate(-65deg);
  -ms-transform: rotate(-65deg);
  -o-transform: rotate(-65deg);
}
/* header: status, events etc in templates*/
.subHeader {
  text-shadow: 0px 0px 4px #09f;
  padding-left: 10px;
}
.subHeader2 {
  padding-left: 10px;
  font-size: 12px;
}
/* activated notification */
#statusEnrollList div {
  clear: both;
}
#statusEnrollList div li {
  float: left;
}
.startEvent,
.startingEvent {
  font-size: 14px;
  color: #fff;
  padding-right: 10px;
  float: right;
  text-shadow: -1px -1px #fff, 1px 1px #09f;
  cursor: pointer;
}
.startEvent:after,
.startingEvent:after {
  content: "";
}
.startingEvent {
  color: #09f;
  padding-right: 20px;
  text-shadow: 0px 0px 4px #09f;
}
.startingEvent::after {
  content: "ing";
}
.statusWrap ul {
  margin-top: 0px;
}
#showMore {
  cursor: pointer;
}
.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}
@media (max-width: 400px) {
  #header header {
    min-height: 35px;
  }
  #header header h1 {
    font-size: 12.6px;
    line-height: 35px;
    min-height: 35px;
    width: 105px;
/* this will twist F-Orienteering is position to left*/
  }
  #header header #control {
    font-size: 9.799999999999999px;
    line-height: 35px;
    height: 35px;
    min-height: 35px;
    right: 9.799999999999999px;
  }
  #control ul {
    line-height: 35px;
  }
  #control ul li {
    line-height: 35px;
    height: 35px;
  }
  #footer footer {
    min-height: 35px;
  }
  #footer footer h1 {
    min-height: 35px;
  }
  #footer footer #control {
    line-height: 35px;
    font-size: 11.899999999999999px;
    right: 9.799999999999999px;
  }
  .distanceMeter {
    line-height: 35px;
    padding-left: 7px;
  }
  #contentWrap {
    top: 45px;
  }
  #content {
    height: 390px;
    top: 10px;
  }
  #contentNav ul li {
    font-size: 9.799999999999999px;
    line-height: 21px;
  }
  .contentList {
    padding-right: 14px;
    padding-left: 14px;
  }
  #contentNav .listSmall {
    font-size: 9.1px;
    line-height: 14px;
    margin-left: 14px;
  }
  #contentWrap,
  #taskWrap {
    top: 35px;
  }
  #taskWrap {
    top: 45px;
  }
  #taskContent {
    font-size: 9.1px;
    margin-left: 0px;
    margin-right: auto;
    width: 200px;
    text-align: center;
  }
  a.tagbtn3 {
    font-size: 10.5px;
/*padding: 5px*mobileScaling;*/
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  #header header {
    min-height: 40px;
  }
  #header header h1 {
    font-size: 12.6px;
    line-height: 40px;
    min-height: 40px;
  }
  #header header #control {
    font-size: 11.200000000000001px;
    line-height: 40px;
    min-height: 40px;
  }
  #control ul {
    line-height: 40px;
  }
  #control ul li {
    line-height: 40px;
    height: 40px;
  }
  #footer footer {
    min-height: 40px;
  }
  #footer footer h1 {
    min-height: 40px;
  }
  #footer footer #control {
    line-height: 40px;
    font-size: 13.600000000000001px;
  }
  .distanceMeter {
    line-height: 40px;
    padding-left: 8px;
  }
  #contentWrap {
    top: 45px;
  }
  #content {
    height: 500px;
/*min-width: 250px*mobileScalingMedium;
      /*
      width:95.8%;
      height: 84%;
      */
  }
  #contentNav ul li {
    font-size: 11.200000000000001px;
    line-height: 24px;
  }
  .contentList {
    padding-right: 16px;
    padding-left: 16px;
  }
  #contentNav .listSmall {
    font-size: 10.4px;
    line-height: 16px;
    margin-left: 16px;
  }
  #taskWrap {
    top: 50px;
  }
  #taskContent {
    font-size: 10.4px;
    margin-left: 0px;
    margin-right: auto;
    width: 200px;
    text-align: center;
  }
}
