/*Display settings for mobile and tablet
  Dont know how to work with these just yet
 */
@media screen and (min-width: 28.75em){

}

@media screen and (min-width: 28.75em){
  
}

/* Font definitions */
fontFamily="AvantGardeGothicITCW01B 731063","Helvetica Neue",Arial,sans-serif
fontBig=18px
fontNav=13px
fontSmall = 10px;

/* global colors */
siteBackgroundColor = #eee
navBackgroundColor = #fff
navFontStaticColor= #333
navFontHoverColor= #44e

/*Global measures */
navBarHeight = 50px;
listBarHeight = 30px;
listBarSmallHeight = 20px;

/* Style functions, not working, seems handy */
linkHover()
  text-decoration:none;
  -webkit-transition:all .2s ease-in
  -moz-transition:all .2s ease-in
  -o-transition:all .2s ease-in
  transition:all .2s ease-in



/*Good demo about -webkit-font-smothing
http://maxvoltar.com/sandbox/fontsmoothing/
*/

html{
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing:antialiased;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  color: blue;
  background-color: siteBackgroundColor;
  font-family:fontFamily;
}

a{
  color:navFontStaticColor;
  text-decoration:none;
}

a:hover{
  color:navFontHoverColor;
  text-decoration:none;
}

ul{
  list-style:none;
}

#mapArea{
  height: 100%;
  margin: 0 auto;
  z-index: 1;
}

h1, h2, h3 {
  margin:0;
  font-weight:500;
  color:#003;
  text-rendering:optimizelegibility
}

/*http://css-tricks.com/snippets/css/clear-fix/
  Not on top of this one...
#header header:before,#header header:after{
  display:table;
  content:"";
  line-height:0
}

#header header:after{
  clear:both
}
*/

/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */

#contentWrap{
  position: fixed;
  top: navBarHeight+10;
  left:0;
  z-index:100;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

#listContent{
  position: fixed;
  top: navBarHeight+10;
  right:10px;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  background:navBackgroundColor;
  *zoom:1;
  -webkit-box-shadow:0 2px 4px rgba(0,0,0,.15);
  -moz-box-shadow:0 2px 4px rgba(0,0,0,.15);
  box-shadow:0 1px 3px rgba(0,0,0,.15)
}

#header{
  position:fixed;
  top:0;
  left:0;
  z-index:100;
  width:100%;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}

#header header{
  position:relative;
  margin-right:auto;
  margin-left:auto;
  min-height: navBarHeight;
  background:navBackgroundColor;
  *zoom:1;
  -webkit-box-shadow:0 2px 4px rgba(0,0,0,.15);
  -moz-box-shadow:0 2px 4px rgba(0,0,0,.15);
  box-shadow:0 1px 3px rgba(0,0,0,.15)
}

#header header h1{
  display:block;
  float:left;
  width:150px;
  margin:0;
  min-height: navBarHeight;
  border-right:1px solid #f4f4f4;
  font-size:fontBig;
  line-height:navBarHeight;
  text-align:center;
  letter-spacing:0
}

#header header #control{
  position:absolute;
  top:0px;
  right:20px;
  font-size:fontNav;
}

#contentList ul li{
   line-height: listBarHeight;
}

#contentList a{
  linkHover
  text-decoration:none;
  
}

#contentList .listSmall{
  font-size: fontSmall;
  line-height: listBarSmallHeight;
  margin-left 20px;
}

#control ul{
  margin:0;
  padding:0 0 0 9px;
  line-height:navBarHeight;
  *zoom:1;
}

#control ul li{
  height:navBarHeight;
  display:block;
  float:left;
  margin:0 0 0 10px
}

#control ul li a{
  linkHover
  text-decoration:none;
} 

#footer footer #control{
  position:absolute;
  bottom:0px;
  right:20px;
  margin: 0, auto;
  font-size:fontNav+3;
}

#footer{
  position:fixed;
  bottom:0;
  left:0;
  z-index:100;
  width:100%;
  padding-left:10px;
  padding-right:10px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}

#footer footer{
  position:relative;
  margin-right:auto;
  margin-left:auto;
  *zoom:1;
  min-height: navBarHeight;
  background:navBackgroundColor;
  -webkit-box-shadow:0 2px 4px rgba(0,0,0,.15);
  -moz-box-shadow:0 2px 4px rgba(0,0,0,.15);
  box-shadow:0 2px 4px rgba(0,0,0,.15)
}

#footer footer h1{
  display:block;
  border-right:1px solid #f4f4f4;
  float:left;
  width:100px;
  margin:0;
  font-size:fontBig;
  line-height:navBarHeight;
  text-align:center;
  letter-spacing:0
}


