/*Display settings for mobile and tablet
  Dont know how to work with these just yet
 */

/* Font definitions */
fontFamily="AvantGardeGothicITCW01B 731063","Helvetica Neue",Arial,sans-serif
fontBig=18px
fontNav=14px
fontSmall = 13px;

/* global colors */
siteBackgroundColor = #eee
navBackgroundColor = #fff

navFontStaticColor= #333
navFontHoverColor= #44e

/*Global measures */
mobileScalingMedium = 0.8;
mobileScaling = 0.7;

navBarHeight = 50px;
listBarHeight = 30px;
listBarSmallHeight = 20px;
eventTopPosition = 10px;
headerRightPosition = 20px;

/* Style functions, not working, seems handy */
linkHover()
  text-decoration:none;
  -webkit-transition:all .2s ease-in
  -moz-transition:all .2s ease-in
  -o-transition:all .2s ease-in
  transition:all .2s ease-in

/*Good demo about -webkit-font-smothing
http://maxvoltar.com/sandbox/fontsmoothing/
*/


html{
	margin: 0;
	padding: 0;
	height: 100%;
	-webkit-font-smoothing:antialiased;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	color: #424242;
	background-color: siteBackgroundColor;
	font-family:fontFamily;
}

a{
	color:navFontStaticColor;
	text-decoration:none;
}

a:hover{
	/*color:navFontHoverColor;*/
	background:#EEE;
	text-decoration:none;
}

/* originally ui.css from http://iqonicdesign.com/ui/
 This code is free. */ 
a.tagbtn3 {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
	background-image: -webkit-linear-gradient(#2da1ec, #0191d9);
	background-image: -moz-linear-gradient(#2da1ec, #0191d9);
	background-image: -ms-linear-gradient(#2da1ec, #0191d9);
	background-image: linear-gradient(#2da1ec, #0191d9);
	border: 1px solid #0191d9;
}

a.tagbtn3:hover {
	background-image: -webkit-linear-gradient(#2eacff, #0191d9);
	background-image: -moz-linear-gradient(#2eacff, #0191d9);
	background-image: -ms-linear-gradient(#2eacff, #0191d9);
	background-image: linear-gradient(#2eacff, #0191d9);
}

a.tagbtn3:active {
	top: 1px;
}
/* end of ui.css*/

ul{
  	list-style:none;
}

#mapArea{
  height: 100%;
  margin: 0 auto;
  z-index: 1;
}

h1, h2, h3 {
  margin:0;
  font-weight:500;
  color:#003;
  text-rendering:optimizelegibility
}

/*http://css-tricks.com/snippets/css/clear-fix/
  Not on top of this one...
#header header:before,#header header:after{
  display:table;
  content:"";
  line-height:0
}

#header header:after{
  clear:both
}
*/

/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */


#contentWrap, #taskWrap{
  position:fixed;
  top: navBarHeight+10;
  left:0;
  z-index:100;
  width:100%;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing:border-box;
}

#content {
	  height: 600px - eventTopPosition;
	  overflow: auto;
	  position: relative;
	  margin-right:auto;
	  margin-left:auto;
	  *zoom:1;
	  overflow:auto;
	  top: eventTopPosition;
}

.listbox{
  	background:navBackgroundColor;
  	*zoom:1;
  	-webkit-box-shadow:0 2px 4px rgba(0,0,0,.15);
	-moz-box-shadow:0 2px 4px rgba(0,0,0,.15);
	box-shadow:0 1px 3px rgba(0,0,0,.15);
}

#taskWrap{
  	padding-right: 10px;
  	padding-left: 10px;
  	z-index:99;
}

#taskContent{
  	margin-right: auto;
	width:300px; 
	text-align: center;
}

#header header:before,#header header:after{
	display:table;
	content:"";
	line-height:0
}

#header header:after{
	clear:both
}

#header{
  	position:fixed;
  	top:0;
  	left:0;
  	z-index:100;
  	width:100%;
  	padding-right: 10px;
  	padding-left: 10px;
  	-webkit-box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	box-sizing:border-box
}

#header header{
  	position:relative;
 	margin-right:auto;
 	margin-left:auto;
  	min-height: navBarHeight;
  	background:navBackgroundColor;
  	*zoom:1;
  	-webkit-box-shadow:0 2px 4px rgba(0,0,0,.15);
  	-moz-box-shadow:0 2px 4px rgba(0,0,0,.15);
  	box-shadow:0 1px 3px rgba(0,0,0,.15)
}

#header header h1{
  	display:block;
  	float:left;
  	width:150px;
  	margin:0;
  	min-height: navBarHeight;
  	border-right:1px solid #f4f4f4;
  	font-size:fontBig;
  	line-height:navBarHeight;
  	text-align:center;
  	letter-spacing:0
}


#header header #control:before, #header header #control:after {
  display:table;
  content:"";
  line-height:0
}

#header header #control:after{
  clear:both
}

#header header #control{
  position:absolute;
  top:0px;
  right:headerRightPosition;
  font-size:fontNav;
}

#contentNav ul:before, #contentNav ul::after {
  display:table;
  content:"";
  line-height:0
}

#contentNav ul:after{
clear:both
}

#contentNav ul li{
  line-height: listBarHeight;
}

#contentNav a{
  linkHover
  text-decoration:none;
  
}

#contentNav h2{
  padding-top: 5px;
}

#contentNav .listSmall{
  font-size: fontSmall;
  line-height: listBarSmallHeight;
  margin-left 20px;
}

#control ul{
  margin:0;
  padding:0 0 0 9px;
  line-height:navBarHeight;
  *zoom:1;
}

#control ul li{
  height:navBarHeight;
  display:block;
  float:left;
  margin:0 0 0 10px
}

#control ul li a{
  linkHover
  text-decoration:none;
} 

#footer footer #control{
  position:absolute;
  bottom:0px;
  right:headerRightPosition;
  margin: 0, auto;
  font-size:fontNav+3;
}

#footer{
  position:fixed;
  bottom:0;
  left:0;
  z-index:100;
  width:100%;
  padding-left:10px;
  padding-right:10px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}

#footer footer{
  position:relative;
  margin-right:auto;
  margin-left:auto;
  *zoom:1;
  min-height: navBarHeight;
  background:navBackgroundColor;
  -webkit-box-shadow:0 2px 4px rgba(0,0,0,.15);
  -moz-box-shadow:0 2px 4px rgba(0,0,0,.15);
  box-shadow:0 2px 4px rgba(0,0,0,.15)
}

#footer footer h1{
  display:block;
  border-right:1px solid #f4f4f4;
  float:left;
  width:100px;
  margin:0;
  font-size:fontBig;
  line-height:navBarHeight;
  text-align:center;
  letter-spacing:0
}

span.delete {
	position:relative;
	padding: 2px;
	float:right;
	margin-top: 3px;
	margin-right: 3px;
	border-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}
span.expand {
	margin-top: 0px;
}
span.delete:hover{
	color: #ffffff;
	background: #000;
}
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }

@media (max-width: 400px) {
    #header header {
      min-height:navBarHeight*mobileScaling;
    }
     #header header h1 { 
      font-size:fontBig*mobileScaling;
      line-height:navBarHeight*mobileScaling; 
      min-height: navBarHeight*mobileScaling;
      width:150px*mobileScaling; /* this will twist F-Orienteering is position to left*/
    }

    #header header #control { 
      font-size:fontNav*mobileScaling; 
      line-height:navBarHeight*mobileScaling; 
      min-height: navBarHeight*mobileScaling;
      right: headerRightPosition*mobileScaling*mobileScaling;
    }

    #control ul{
      line-height:navBarHeight*mobileScaling; 
    }

    #control ul li{
      line-height:navBarHeight*mobileScaling;
      height:navBarHeight*mobileScaling;
    }

    #footer footer{
      min-height:navBarHeight*mobileScaling;  
    }

    #footer footer h1{
      min-height:navBarHeight*mobileScaling; 
    }

    #footer footer #control {
      line-height:navBarHeight*mobileScaling; 
      font-size:(fontNav+3)*mobileScaling;
      right:headerRightPosition*mobileScaling*mobileScaling;
    }

    #contentWrap{
      top: navBarHeight*mobileScaling+10;
    }

    #content{
      height: 400px - eventTopPosition;
      top:eventTopPosition;
    }

    #contentNav ul li{
      font-size:fontNav*mobileScaling; 
      line-height: listBarHeight*mobileScaling;
    }

    .contentList {
      padding-right: 20px*mobileScaling;
      padding-left: 20px*mobileScaling;

    }

    #contentNav .listSmall{
      font-size: fontSmall*mobileScaling;
      line-height: listBarSmallHeight*mobileScaling;
      margin-left 20px*mobileScaling;
  	}
	
	#contentWrap, #taskWrap{
		top: ( navBarHeight ) * mobileScaling;
	}
	
    #taskWrap{
      top: navBarHeight*mobileScaling+10;
    }

    #taskContent{   
      font-size: fontSmall*mobileScaling;
      margin-left: 0px;
      margin-right: auto;
      width:400px*0.5;
      text-align: center;
    }
    
    a.tagbtn3 {
		font-size: 15px*mobileScaling;
		padding: 5px*mobileScaling;
	}
}

@media (min-width: 400px) and (max-width: 600px) {
    #header header {
      min-height:navBarHeight*mobileScalingMedium;
    }
     #header header h1 { 
      font-size:fontBig*mobileScaling;
      line-height:navBarHeight*mobileScalingMedium; 
      min-height: navBarHeight*mobileScalingMedium;
    }

    #header header #control { 
      font-size:fontNav*mobileScalingMedium; 
      line-height:navBarHeight*mobileScalingMedium; 
      min-height: navBarHeight*mobileScalingMedium;
    }

    #control ul{
      line-height:navBarHeight*mobileScalingMedium; 
    }

    #control ul li{
      line-height:navBarHeight*mobileScalingMedium;
      height:navBarHeight*mobileScalingMedium;
    }

    #footer footer{
      min-height:navBarHeight*mobileScalingMedium;  
    }

    #footer footer h1{
      min-height:navBarHeight*mobileScalingMedium; 
    }

    #footer footer #control {
      line-height:navBarHeight*mobileScalingMedium; 
      font-size:(fontNav+3)*mobileScalingMedium;
    }

    #contentWrap{
      top: navBarHeight*mobileScaling+10;
    }

    #content{
      height: 500px;
      /*min-width: 250px*mobileScalingMedium;
      /*
      width:95.8%;
      height: 84%;
      */
    }

    #contentNav ul li{
      font-size:fontNav*mobileScalingMedium; 
      line-height: listBarHeight*mobileScalingMedium;
    }

    .contentList {
      padding-right: 20px*mobileScalingMedium;
      padding-left: 20px*mobileScalingMedium;

    }

    #contentNav .listSmall{
      font-size: fontSmall*mobileScalingMedium;
      line-height: listBarSmallHeight*mobileScalingMedium;
      margin-left 20px*mobileScalingMedium;
  }

    #taskWrap{
      top: navBarHeight*mobileScalingMedium+10;
    }

    #taskContent{ 
      font-size: fontSmall*mobileScalingMedium;
      margin-left: 0px;
      margin-right: auto;
      width:400px*0.5;
      text-align: center;
    }
}
