html, body
	overflow: none
	width: 100%
	margin: 0px
	padding: 0px
	font-family: 'Arvo', serif

h2
	font-size: 120%
	margin-bottom:0
	text-align:center

a
	text-decoration: none
	border: 0
	color: white

ul
	list-style-type: none
	padding: 0
	line-height:150%

li
	vertical-align:top
	margin:0 0 6px
	display: block

hr
	border: none
	background-color: #ccc
	color: #ccc
	height: 1px

.fixed-container
	position: fixed
	height: 1.8em
	width: 100%
	display:block

#header-container
	top: 0
	left: 0
	background-color: #13549a 
	color: white
	box-shadow: 0 0 7px #A8A8A8
	text-shadow: black 0 0 0.2em

#footer-container
	bottom: 0
	left: 0
	background-color: #13549a 
	color: white
	box-shadow: 0 0 7px #A8A8A8
	text-shadow: black 0 0 0.2em

#header-container li a
	text-decoration: none

a i
	text-decoration:none
	color:white

.event-link
	border-radius: 7px
	background-color: #2981e4
	padding: 2px 5px 2px 5px
	display: block
	box-shadow: 0 0 5px #A8A8A8
	font-size:80%
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25)

.enrollment-link
	border-radius: 7px
	background-color: #3fab47
	padding: 2px 5px 2px 5px
	display: block
	box-shadow: 0 0 5px #A8A8A8
	font-size:80%
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25)

#home
	display: inline-block
	padding: 3px
	padding-left: 8px
	top: 0
	left: 0
	float: left

#dd
	top: 0
	right: 0
	display: inline-block
	padding: 3px
	float:right
	margin-right: 5px

#dd p
	display: inline

.footer-item
	margin:0
	display: inline-block
	bottom:0

.footer-item p
	display: inline

#back
	left: 0
	float:left
	padding:4px

#show-map, #upload
	right: 0
	float:right
	padding:4px
	cursor:pointer

#contents-container
	padding: 20px

#mapArea  
	height: 100% 
	width: 100% 

.centered  
	text-align: center 

#gamified-logo
	background: url('../images/gamified_logo_175x40.png') no-repeat center center
	width: 110px
	height: 1.2em
	display:inline-block
	background-size:contain
	margin:3px
	float:left

#message-bottom 
	float: none

#enroll-button
	background-color: #3fab47
	border-radius: 5px
	color: #ffffff
	padding: 6px 20px
	text-decoration: none
	outline: none
	border-width: 0px
	font-size: 120%
	font-family: 'Arvo', serif
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25)
	cursor:pointer

#enroll-button p
	display:inline

#unenroll-button
	background-color:firebrick
	border-radius: 5px
	color: #ffffff
	padding: 6px 20px
	text-decoration: none
	outline: none
	border-width: 0px
	font-size: 120%
	font-family: 'Arvo', serif
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25)
	cursor:pointer

.hidden
	display: none

#startTime, #endTime
	font-size: 80%

// The following is for the logout dropdown

.wrapper-dropdown-5
	/* Size & position */
	position: relative
	/* Styles */
	outline: none
	cursor: pointer

.wrapper-dropdown-5 .dropdown
	/* Size & position */
	position: absolute
	top: 100%
	left: 0
	right: 0
	margin-top: 0
	
	/* Styles */
	background: #fff
	list-style: none

	/* Hiding */
	max-height: 0
	overflow: hidden
	line-height:50%

.wrapper-dropdown-5 .dropdown li
	background-color: white
	border: 1px solid #13549a
	padding: 5px
	margin-bottom: 0

.wrapper-dropdown-5 .dropdown li a
	display: block
	text-decoration: none
	color: #13549a
	text-shadow:none

.wrapper-dropdown-5 .dropdown li i
	margin-right: 5px
	color: inherit

.wrapper-dropdown-5.active .dropdown
	max-height: 400px

#hiddenLink
	text-decoration: none
	display: none

#hiddenUploader
	display: none

#hiddenUploader p
	display: none

#hiddenUploader img
	display: none	
	width: 66px
	height: 66px

