html {
  height: 100%;
  overflow: none;
}
body {
  height: 100%;
  max-width: 480px;
  min-width: 0px;
  width: auto;
  font-family: 'Arvo', serif;
}
h2 {
  font-size: 120%;
}
a {
  text-decoration: none;
  border: 0;
  color: #fff;
}
ul {
  list-style-type: none;
  padding: 0;
  line-height: 150%;
  margin-right: 10px;
}
li {
  vertical-align: top;
  margin: 0 0 6px;
  width: 100%;
  display: block;
}
.fixed-container {
  position: fixed;
  height: 1.8em;
  width: 100%;
}
#header-container {
  top: 0;
  left: 0;
  background-color: #13549a;
  color: #fff;
  box-shadow: 1px 1px 7px #a8a8a8;
  text-shadow: #000 0 0 0.2em;
  border-bottom: 2px #000;
}
a i {
  text-decoration: none;
  color: #fff;
}
.event-link {
  border-radius: 7px;
  background-color: #1b7ae0;
  padding: 2px 5px 2px 5px;
  width: 100%;
  display: block;
  box-shadow: 0 0 5px #a8a8a8;
  text-shadow: #000 0 0 0.2em;
  font-size: 80%;
}
#user {
  top: 0;
  display: inline-block;
  padding: 3px;
  float: right;
  margin-right: 5px;
}
#user p {
  display: inline;
}
#home {
  display: inline-block;
  padding: 5px;
  float: left;
  top: 0;
}
#footer-container {
  bottom: 0;
}
#contents-container {
  padding-top: 20px;
}
#mapArea {
  height: 100%;
  width: 100%;
}
.centered {
  text-align: center;
}
#gamified-logo {
  background: url("../images/gamified_logo_63x20.png") no-repeat center center;
  width: 63px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  left: 0;
}
#message-bottom {
  float: none;
}
