html  
	height: 100% 
	overflow: none

body  
	height: 100%
	max-width: 320px
	min-width: 0px
	width: auto
	font-family: 'Arvo', serif

a
	text-decoration: none
	border: 0
	color: white

ul
	list-style-type: none
	padding: 0
	line-height:150%

li
	vertical-align:top
	margin:6px 0 6px 0
	width:100%
	display: block

.fixed-container
	position: fixed
	height: 2.5em
	width: 100%

#header-container
	top: 0
	left:0
	background-color: #1B7AE0 
	color: white
	box-shadow: 1px 1px 7px #A8A8A8
	text-shadow: black 0 0 0.2em

a i
	text-decoration:none
	color:white

.event-link
	border-radius: 5px
	background-color: #1B7AE0
	padding: 4px
	width: 100%
	display: block
	box-shadow: 1px 1px 3px #A8A8A8

#user
	right: 0
	top: 0
	display: inline-block
	padding: 3px
	float:right

#user p
	display: inline
	font-size: 120%

#home
	display: inline-block
	padding: 5px
	float:left

#footer-container
	bottom: 0

#contents-container
	padding: 20px

#mapArea  
	height: 100% 
	width: 100% 

.centered  
	text-align: center 

#gamified-logo
	background: url('../images/gamified_logo_63x20.png') no-repeat center center
	width: 63px
	height:auto
	display:inline-block
	vertical-align:middle
	position: fixed
	left:0

#message-bottom 
	float: none

