html
  margin: 0
  padding: 0
  height: 100%
body
  margin: 0 auto
  padding: 0
  height: 100%
  background-color: #7b98d0
  color: #fff
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  font-family: 'Arial, Sans-serif';
a
  color: #00B7FF
#mapArea
  height: 100%
#welcome-page
  max-width: 360px
  margin: 0 auto
h1, h2, h3
  text-align: center
  font-weight: normal
h1
  margin-bottom: 5px
.disabled
  opacity: 0.75
#logo-orienteering
  width: 320px
  height: 80px
  margin: 0 auto
  background: url('../images/mercator.jpg') no-repeat center center
  border-radius: 5px
  box-shadow: 4px 4px 5px #444
.wide-btn
  display: block
  border: 1px solid #DDD
  border-radius: 3px
  text-shadow: 0 1px 1px white
  box-shadow:         0 1px 1px #fff
  padding: 6px 10px
  white-space: nowrap
  vertical-align: middle
  color: #666
  background: snow
  cursor: pointer
  text-decoration: none
  text-align: center
  margin: 20px