html
  margin: 0
  padding: 0
  height: 100%
body
  margin: 0 auto
  padding: 0
  height: 100%
  background: #fbfaf7
  background-image: url('../images/bg_desktop.png')
  font-family: 'Arvo', serif
  color: #000
a
  color: #00B7FF
#mapArea
  height: 100%
#welcome-page
  max-width: 800px
  margin: 0 auto
h1, h2, h3, p
  text-align: center
  font-weight: normal
h1
  margin-bottom:0px
  font-size: 400%
  width:100%
.disabled
  opacity: 0.75
#logo-orienteering
  width: 800px
  height: 400px
  margin: 0 auto
  background: url('../images/gamified_logo.png') no-repeat center center
  background-size: contain
.wide-btn
  display: block
  border: 1px solid #DDD
  border-radius: 3px
  text-shadow: 0 1px 1px white
  box-shadow:         0 1px 1px #fff
  padding: 6px 10px
  white-space: nowrap
  vertical-align: middle
  color: #666
  background: snow
  cursor: pointer
  text-decoration: none
  text-align: center
  margin: 20px