html
  margin: 0
  padding: 0
  height: 100%
body
  margin: 0 auto
  padding: 0
  height: 100%
  background: #fbfaf7
  background-image: url('../images/bg_desktop.png')
  font-family: 'Arvo', serif
  color: #000
a
  color: #00B7FF
#mapArea
  height: 100%
#content
  max-width: 800px
  margin: 0 auto
  display:block
  background-color:white
  padding:20px
  border: 1px solid #DDD
  position: relative
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
h1, h2, h3
  text-align: center
  font-weight: normal
h1
  margin-bottom:0px
  font-size: 400%
  width:100%
.disabled
  opacity: 0.75
#banner
  width:100%
  height:contain
  margin-top: 2em
  background-color:white
  box-shadow: 1px 1px 7px #A8A8A8
  z-index: 999
  position:relative
  display:block
#logo-orienteering
  width: auto
  height: 12em
  margin: 0 auto
  background: url('../images/gamified_logo.png') no-repeat center center
  background-size: contain
#facebook-login
  width:219px
  height:36px
  margin: 0 auto
  background: url('../images/facebook_login.png') no-repeat center center
  background-size: contain
#facebook-login:hover
  width:219px
  height:36px
  margin: 0 auto
  background: url('../images/facebook_login_hover.png') no-repeat center center
  background-size: contain
.wide-btn
  display: block
  border: 1px solid #DDD
  border-radius: 5px
  text-shadow: 0 1px 1px white
  box-shadow:         0 1px 1px #fff
  padding: 6px 10px
  white-space: nowrap
  vertical-align: middle
  color: #666
  background: snow
  cursor: pointer
  text-decoration: none
  text-align: center
  margin: 20px