

<section id="listContent">
       <nav id="contentList">
        <ul id="eventList">
          <% for(var i = 0; i<content.length; i++) {%>
            <li><a href="#"><%= content[i].title%></a></li>      
          <% } %>
        </ul>
      </nav>
 </section>