

<section id="content">
       <nav id="contentNav">
       <% if (content[0].type == "Checkpoint") {%>  
            	<ul id="contentList" data-tag="checkpoints">
        <%} else{ %>   
       			<ul id="contentList" data-tag="events">
       	<%}%>
          <% for(var i = 0; i<content.length; i++) {%>
            <li data-index= <%=i%> ><a href="#"><%= content[i].title%></a></li>  
            <% if (content[i].hasOwnProperty('organizer')) {%>  
            	<span class="listSmall" id="organizer"><%= 'Organizer: ' + content[i].organizer%></span>
            <%}%>         
          <% } %>
        </ul>
      </nav>
 </section>