<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Create view</title>
  <script type="text/javascript" src="/dependencies/jquery-1.7.2.min.js"></script> 
  <style>
    .clear { clear: both;}
    .form-label { display: block; width: 180px; float: left; }
    .form-input { display: block; width: 180px; float: left; }
    .form-button-area { text-align: right; padding: 5px 10px;}
    #create-form { width: 380px; }
  </style>
</head>
<body>
  <h2>Create a new user</h2>
  <form id="create-form" action="/api/v1/users/">
    <div class="form-row">
      <label class="form-label" for="id">ID</label>
      <input class="form-input" id="id" type="text" maxlength="32" />
      <div class="clear" />
    </div>
    <div class="form-row">
      <label class="form-label" for="name">Name</label>
      <input class="form-input" id="name" type="text" maxlength="64" />
      <div class="clear" />
    </div>
    <div class="form-row">
      <label class="form-label" for="first_name">First Name</label>
      <input class="form-input" id="first_name" type="text" maxlength="32"/>
      <div class="clear" />
    </div>
    <div class="form-row">
      <label class="form-label" for="last_name">Last Name</label>
      <input class="form-input" id="last_name" type="text" maxlength="32"/>
      <div class="clear" />
    </div>
    <div class="form-row">
      <label class="form-label" for="link">Link</label>
      <input class="form-input" id="link" type="url" />
      <div class="clear" />
    </div>
    <div class="form-row">
      <label class="form-label" for="username">Username</label>
      <input class="form-input" id="username" type="text" maxlength="64" />
      <div class="clear" />
    </div>
    <div class="form-row">
      <label class="form-label" for="gender">Gender</label>
      <select class="form-input" id="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <div class="clear" />
    </div>
    <div class="form-row">
      <label class="form-label" for="timezone">Timezone</label>
      <input class="form-input" id="timezone" type="text" maxlength="32" />
      <div class="clear" />
    </div>
    <div class="form-row">
      <label class="form-label" for="locale">Locale</label>
      <input class="form-input" id="locale" type="text" maxlength="32" />
      <div class="clear" />
    </div>
    <div class="form-row">
      <label class="form-label" for="verified">Verified</label>
      <input class="form-input" id="verified" type="checkbox" />
      <div class="clear" />
    </div>
    <div class="form-row">
      <label class="form-label" for="updated_time">Updated Time</label>
      <input class="form-input" id="updated_time" type="datetime" />
      <div class="clear" />
    </div>
    <div class="form-row">
      <label class="form-label" for="admin">Admin</label>
      <input class="form-input" id="admin" type="checkbox" />
      <div class="clear" />
    </div>
    <div class="form-button-area">
        <button id="submit-button" type="button">Save</button>
        <button id="cancel-button" type="button">Cancel</button>
    </div>
  </form>
  <script>
    var back = function() { window.location='./'; }
    var parseForm = function() {
      var item = {};
      item.id = document.getElementById('id').value;
      item.name = document.getElementById('name').value;
      item.first_name = document.getElementById('first_name').value;
      item.last_name = document.getElementById('last_name').value;
      item.link = document.getElementById('link').value;
      item.username = document.getElementById('username').value;
      item.genred = document.getElementById('gender').value;
      item.timezone = document.getElementById('timezone').value;
      item.locale = document.getElementById('locale').value;
      item.verified = document.getElementById('verified').checked;
      item.updated_time = document.getElementById('updated_time').value;
      item.admin = document.getElementById('admin').checked;
      return item;
    };
    var submit = function(form, data, callback) {
      $.ajax({
        type: "POST",
        url: form.action,
        data: data
      }).done(callback);
    };
    $('#cancel-button').bind('click', back );
    $('#submit-button').bind('click', function() { 
      var data = parseForm();
      var form = document.getElementById('create-form'); 
      submit(form, data, back); 
    });
  </script>
</body>
</html>